### Importando a Biblioteca do Pandas

In [2]:
# importando a biblioteca

import pandas as pd

In [2]:
# Exemplo

mydataset = {
    'cars':['BMW','Volvo', 'Ford'],
    'passageiros': [3,7,2]
}

# Converter Dicionario em Pandas DATAFRAME

df = pd.DataFrame(mydataset)

print(df)

    cars  passageiros
0    BMW            3
1  Volvo            7
2   Ford            2

# Verificando a versão do Pandas

In [3]:
print(pd.__version__)

1.5.3

### Seção 01 - Trabalhando com Pandas SERIES

Uma série em Pandas é como uma coluna de uma tabela, ou seja, uma matriz de apenas uma coluna.

In [4]:
# Utilizando o comando pd.Series()

idades = pd.Series([15,20,25,30,40,50,60])
print(idades)

0    15
1    20
2    25
3    30
4    40
5    50
6    60
dtype: int64

In [5]:
# Retornar apenas os indices dos registros

idades.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
# Alterando os indices

indice_novo = ['Ana', 'Amanda','Jaqueline', 'Larissa', 'Roberto', 'João','Alan']

idades_list = [15,20,25,30,40,50,60]

nova_serie = pd.Series(idades_list, index = indice_novo)

print(nova_serie)

Ana          15
Amanda       20
Jaqueline    25
Larissa      30
Roberto      40
João         50
Alan         60
dtype: int64

### Acessando informações de uma Série

In [7]:
print(nova_serie['Ana'])

15

### Seção 02: Trabalhando com Data Frame

Pandas Dataframe é uma estrutura de dados bidimensional, como uma matriz com multiplas linhas e colunas.

In [6]:
import pandas as pd

dados = {
    'calorias':[420,380,390],
    'duracao': [50,40,45]

}

# Carregando dados para um dataframe

df = pd.DataFrame(dados)

#print(df)

# Selecionando a coluna calorias
print(df['calorias'])

# Selecionando a Coluna Duração
print(df['Duração'])

0    420
1    380
2    390
Name: calorias, dtype: int64

KeyError: 'Duração'

In [15]:
### Seção 03: Trabalhando com arquivos xlsx(Excel)

# Importando a biblioteca do Pandas

import pandas as pd

# Criar variaveis para mapear o documento

caminho = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\'
arquivo = 'bank-full.xlsx'

# Carregar o arquivo e gerar um DataFrame

df = pd.read_excel( Caminho + arquivo, sheet_name= 'Sheet 1 - bank-full')

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement openpyx1 (from versions: none)
ERROR: No matching distribution found for openpyx1

#### Visualizando os cabeçalhos do dataframe

In [16]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

### Visualizando o final do Dataframe

Podemos verificar o final do dataframe com o comando df.tail()

In [17]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

### Renomeando Colunas do Dataframe

Podemos utilizar o comando df.columns para modificar todos os nomes das colunas

In [24]:
df.columns = [
    'idade', 'job', 'estado civil', 'educação', 'default', 'balance', 'housin', 'empréstimo', 'contato', 'dia', 'mês',
    'duração', 'campanha', 'pdays', 'previous', 'poutcome'
]

# Apresentando as colunas renomeadas

df.head

<bound method NDFrame.head of        idade           job estado civil   educação default  balance housin  \
0         58    management      married   tertiary      no     2143    yes
1         44    technician       single  secondary      no       29    yes
2         33  entrepreneur      married  secondary      no        2    yes
3         47   blue-collar      married    unknown      no     1506    yes
4         33       unknown       single    unknown      no        1     no
...      ...           ...          ...        ...     ...      ...    ...
45206     51    technician      married   tertiary      no      825     no
45207     71       retired     divorced    primary      no     1729     no
45208     72       retired      married  secondary      no     5715     no
45209     57   blue-collar      married  secondary      no      668     no
45210     37  entrepreneur      married  secondary      no     2971     no

      empréstimo    contato  dia  mês  duração  campanha  pdays  previous  \
0             no    unknown    5  may      261         1     -1         0
1             no    unknown    5  may      151         1     -1         0
2            yes    unknown    5  may       76         1     -1         0
3             no    unknown    5  may       92         1     -1         0
4             no    unknown    5  may      198         1     -1         0
...          ...        ...  ...  ...      ...       ...    ...       ...
45206         no   cellular   17  nov      977         3     -1         0
45207         no   cellular   17  nov      456         2     -1         0
45208         no   cellular   17  nov     1127         5    184         3
45209         no  telephone   17  nov      508         4     -1         0
45210         no   cellular   17  nov      361         2    188        11

      poutcome
0      unknown
1      unknown
2      unknown
3      unknown
4      unknown
...        ...
45206  unknown
45207  unknown
45208  success
45209  unknown
45210    other

[45211 rows x 16 columns]>

### Obtendo informações sobre o dataframe

O comando df.info() nos ajuda a verificar os tipos de variaveis e, inclusive se há valores faltantes/nulos

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   idade         45211 non-null  int64
 1   job           45211 non-null  object
 2   estado civil  45211 non-null  object
 3   educação      45211 non-null  object
 4   default       45211 non-null  object
 5   balance       45211 non-null  int64
 6   housin        45211 non-null  object
 7   empréstimo    45211 non-null  object
 8   contato       45211 non-null  object
 9   dia           45211 non-null  int64
 10  mês           45211 non-null  object
 11  duração       45211 non-null  int64
 12  campanha      45211 non-null  int64
 13  pdays         45211 non-null  int64
 14  previous      45211 non-null  int64
 15  poutcome      45211 non-null  object
dtypes: int64(7), object(9)
memory usage: 5.5+ MB

### Estatisticas básicas

A função df.describe() exibe as estatisticas básicas dos dados numéricos.

In [26]:
df.describe()

,idade,balance,dia,duração,campanha,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

### Estatísticas de dados categoricos(não numéricos)

Para estatísticas de variaveis categoricas precisamos adicionar o argumento include = ['O']

TOP: O valor que mais aparece nos campos

FREQ: Frequencia (quantidade de vezes) que o valor mais comum aparece(TOP)

COUNT: Quantidade de elementos existentes nos campos

UNIQUE: Quantidade de elementos unicos(sem repetição) existentes nos campos

In [27]:
df.describe(include=['O'])

,job,estado civil,educação,default,housin,empréstimo,contato,mês,poutcome
count,45211,45211,45211,45211,45211,45211,45211,45211,45211
unique,12,3,4,2,2,2,3,12,4
top,blue-collar,married,secondary,no,yes,no,cellular,may,unknown
freq,9732,27214,23202,44396,25130,37967,29285,13766,36959

### Estatisticas básicas de todos os dados

Ainda é possivel aplicar o pd.describe a todos os dados. Para isso, precisamos adicionar o argumento include.

In [29]:
df.describe(include=['all'])

TypeError: data type 'all' not understood

### Selecionando Dados

Podemos acessar as informações  dos dataframes

## Selecionando mais de uma coluna

In [30]:
df[['idade', 'dia', 'estado civil' ]]

       idade  dia estado civil
0         58    5      married
1         44    5       single
2         33    5      married
3         47    5      married
4         33    5       single
...      ...  ...          ...
45206     51   17      married
45207     71   17     divorced
45208     72   17      married
45209     57   17      married
45210     37   17      married

[45211 rows x 3 columns]

### Exercício 01 – Manipulando dataframes com Pandas.
a) Abra o arquivo world_happiness_report_2015.csv e o aloque em um dataframe.

b) Verifique o cabeçalho e o final do dataframe.

c) Quais as colunas desse dataframe?

d) Quais os tipos de dados temos no dataframe?

e) Há valores faltantes ou nulos? Em quais colunas?

f) Renomeie as variáveis como segue:

In [1]:
# Importar a biblioteca

import pandas as pd

# Mapear o caminho e nome do arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\'
arquivo = 'word_happinness_report_2015.csv'

# Alocar o documento em um Dataframe

df = pd.read_df.head_csv(caminho + arquivo)

# Visualizar o cabeçalho 

df.read()

AttributeError: module 'pandas' has no attribute 'read_df'

In [31]:
# Tipos de dados no Dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   idade         45211 non-null  int64
 1   job           45211 non-null  object
 2   estado civil  45211 non-null  object
 3   educação      45211 non-null  object
 4   default       45211 non-null  object
 5   balance       45211 non-null  int64
 6   housin        45211 non-null  object
 7   empréstimo    45211 non-null  object
 8   contato       45211 non-null  object
 9   dia           45211 non-null  int64
 10  mês           45211 non-null  object
 11  duração       45211 non-null  int64
 12  campanha      45211 non-null  int64
 13  pdays         45211 non-null  int64
 14  previous      45211 non-null  int64
 15  poutcome      45211 non-null  object
dtypes: int64(7), object(9)
memory usage: 5.5+ MB

In [ ]:
# Renomeie as variaveis como segue:

df.rename(colunms=(
    'happiness_rank':'rank_felicidade',
    'happiness_score': 'score_felicidade',
))