### Exercicio 02- Manipulando dados  com Pandas

arquivo: Vendas .xlsx

A) Crie um programa em pandas para ler o arquivo em Excel imobiliaria xlsx

In [2]:
import pandas as pd

caminho = "C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\"
arquivo = 'Imobiliária.xlsx'

df = pd.read_excel(caminho + arquivo, sheet_name= 'Base')

In [3]:
df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

### Visualizar as ultimas linhas

In [4]:
df.tail

<bound method NDFrame.tail of       Coluna 1     Coluna 2   Coluna 3     Coluna 4  Coluna 5  Coluna 6  \
0       Centro       Simone 2005-10-08  Apartamento     102.5         2
1     Noroeste       Simone 2005-10-08  Apartamento     199.5         4
2        Norte      Roberto 2005-10-12         Casa     145.5         2
3      Sudeste       Simone 2005-10-14  Apartamento     153.5         3
4     Noroeste     Cristina 2005-10-16  Apartamento      93.0         2
...        ...          ...        ...          ...       ...       ...
1112   Sudeste     Cristina 2011-03-19  Apartamento      87.5         2
1113   Sudeste       Simone 2011-03-20  Apartamento      74.5         2
1114     Norte  João Carlos 2011-03-21  Apartamento     192.0         4
1115     Leste       Simone 2011-03-27  Apartamento      42.0         1
1116     Oeste       Simone 2011-03-28  Apartamento     100.5         2

      Coluna 7 Coluna 8  Coluna 8.1  Coluna 10
0            2      Sim      235500     3532.5
1            4      Não      377700     5665.5
2            2      Não      232500     3487.5
3            2      Não      289100     4336.5
4            2      Sim      235400     3531.0
...        ...      ...         ...        ...
1112         0      Não      221500     3322.5
1113         2      Não      224400     3366.0
1114         4      Não      361000     5415.0
1115         1      Sim      167900     2518.5
1116         2      Sim      227600     3414.0

[1117 rows x 10 columns]>

### Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [8]:
df.columns = ['filial','vendedor', 'data', 'tipo',
            'area', 'dorms', 'garag', 'piscina',
            'preco','comissao'
            ]

df.head()

,filial,vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

### Quais são os tipos de dados que temos no Dataframe

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filial    1117 non-null   object
 1   vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   dorms     1117 non-null   int64
 6   garag     1117 non-null   int64
 7   piscina   1117 non-null   object
 8   preco     1117 non-null   int64
 9   comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

### Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [14]:
print('O valor total é:', df['preco'].sum())

print('A média dos valores é:', df['preco'].mean())

print('O maior valor é:', df['preco'].max())

print('O menor valor é:', df['preco'].min())

print('O menor valor é:', df['preco'].count())

O valor total é: 295035000
A média dos valores é: 264131.6025067144
O maior valor é: 384300
O menor valor é: 145100
O menor valor é: 1117

In [15]:
df.describe()

              area        dorms        garag          preco     comissao
count  1117.000000  1117.000000  1117.000000    1117.000000  1117.000000
mean    125.965085     2.523724     1.646374  264131.602507  3961.974038
std      53.290147     1.106603     1.233972   77249.578385  1158.743676
min      25.000000     1.000000     0.000000  145100.000000  2176.500000
25%      82.000000     2.000000     1.000000  213500.000000  3202.500000
50%     127.000000     3.000000     2.000000  284300.000000  4264.500000
75%     169.500000     3.000000     3.000000  314700.000000  4720.500000
max     245.000000     4.000000     4.000000  384300.000000  5764.500000

### Crie um programa para criar um dataframe para mostrar as vendas por região e salvar um arquivo em excel para cada região

In [25]:
# Filtrar um dataframe - NORTE

df_norte = df[df['filial'] == 'Norte']

# Diretório de destino para salvar o arquivo

pasta_destino = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\Imobiliaria_resultados\\'

# Nome do arquivo

nome_arquivo = 'Norte.xlsx'

# Salvar/ Gerar um arquivo em excel

df_norte.to_excel(pasta_destino + nome_arquivo)

In [26]:
# Filtrar um dataframe - SUL

df_SUL = df[df['filial'] == 'SUL']

# Diretório de destino para salvar o arquivo

pasta_destino = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\Imobiliaria_resultados\\'

# Nome do arquivo

nome_arquivo = 'SUL.xlsx'

# Salvar/ Gerar um arquivo em excel

df_SUL.to_excel(pasta_destino + nome_arquivo)

In [27]:
# Filtrar um dataframe - SUDESTE

df_SUDESTE = df[df['filial'] == 'SUDESTE']

# Diretório de destino para salvar o arquivo

pasta_destino = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Arquivos\\Imobiliaria_resultados\\'

# Nome do arquivo

nome_arquivo = 'SUDESTE.xlsx'

# Salvar/ Gerar um arquivo em excel

df_SUDESTE.to_excel(pasta_destino + nome_arquivo)

### GERE UM ARQUIVO EM EXCEL PARA REPRESENTAR AS VENDAS EFETUADAS PELA FILIAL EM 2010

In [36]:
dados = df[(df['data']>='2010-01-01') & (df['data']<'2010-12-31')&(df['filial']=='Norte')]

# Nome do arquivo

nome_arquivo = 'Norte_2010.xlsx'

# Salvar/ Gerar um arquivo em excel

dados.to_excel(pasta_destino + nome_arquivo)

### Construa uma estrutura de repetição (FOR) para que a variável
vendedor receba os nomes que estão na lista listaVendedores
e filtre o dataframe dados, utilizando a coluna Vendedores para
que gere um novo dataframe (df_final) para cada vendedor.

Ainda na estrutura de repetição, você deve inserir uma linha de
código para gerar um arquivoem Excel para cada vendedor,
utilize o comando dataframe.to_excel.

In [37]:
for vendedor in listaVendedores

df_final = dados['Coluna']== vendedores
df_final.to_excel(path+Vendedores+'Vendas.xlsx')

SyntaxError: expected ':' (3393043520.py, line 1)