#### Exercício 02 – Unindo dados com Pandas

### a) Crie um dataframe para cada um dos arquivos nba_2015_a.csv,nba_2015_b.csv, nba_2015_c.csv e bust_nba_2015.csv. Chame esses dataframes de df_a, df_b, df_c, bust, respectivamente.

In [1]:
# Caminho para o arquivo;

import pandas as pd

path = 'C:\\Users\\FIC\\OneDrive\\Documentos\\Jose Mauro_Python\\Arquivos\\'

file = 'nba_2015_a.csv'

# Abrir o arquivo 

df = pd.read_csv(path + file)

#Cabeçalhos do Dataframe

df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583

In [2]:
import pandas as pd

path = 'C:\\Users\\FIC\\OneDrive\\Documentos\\Jose Mauro_Python\\Arquivos\\'

file = 'nba_2015_b.csv'

# Abrir o arquivo 

df = pd.read_csv(path + file)

#Cabeçalhos do Dataframe

df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Austin Rivers,SG,austin-rivers,2012,-0.145824,0.036233,0.268867,0.334098
1,Royce White,SF,royce-white,2012,-0.193490,0.018400,0.243750,0.357367
2,Damian Lillard,PG,damian-lillard,2012,-0.200562,0.036314,0.259300,0.273522
3,Tony Wroten,PG,tony-wroten,2012,-0.245215,0.021567,0.280567,0.286900
4,Doron Lamb,SG,doron-lamb,2012,-0.281442,0.004280,0.208319,0.439637

In [3]:
import pandas as pd

path = 'C:\\Users\\FIC\\OneDrive\\Documentos\\Jose Mauro_Python\\Arquivos\\'

file = 'nba_2015_c.csv'

# Abrir o arquivo 

df = pd.read_csv(path + file)

#Cabeçalhos do Dataframe

df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Mustafa Shakur,PG,mustafa-shakur,2007,-1.304224,0.000728,0.027577,0.328555
1,Jermareo Davidson,PF,jermareo-davidson,2007,-1.305091,0.000098,0.028128,0.348323
2,Ekene Ibekwe,PF,ekene-ibekwe,2007,-1.313002,0.000349,0.018529,0.334192
3,Cartier Martin,SF,cartier-martin,2007,-1.315787,0.000206,0.017471,0.363321
4,Ivan Radenovic,PF,ivan-radenovic,2007,-1.327384,0.000090,0.026357,0.341746

In [1]:
import pandas as pd

path = 'C:\\Users\\FIC\\OneDrive\\Documentos\\Jose Mauro_Python\\Arquivos\\'

file = 'nba_draft_2015.csv'

# Abrir o arquivo 

df = pd.read_csv(path + file)

#Cabeçalhos do Dataframe

df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533,0.295850
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583,0.409100

### b) Visualize o head() de cada um dos dataframes.

### c) Concatene os arquivos df_a, df_b e df_c, usando a função concat() usando os índices. Salve um dataframe chamado df_total.

### d) Faça a concatenação do dataframe df_total com o dataframe bust, utilizando a função merge() e a variável ID.

### e) Busque a documentação das funções concat() e merge () e veja quais são os outros parâmetros que podem ser utilizados.