### Aula 9- Exercicio 04

In [16]:
# Importar Biblioteca

import pandas as pd

# Declarar as variaveis para acessar o arquivo

path = 'C:\\Users\\FIC\\Documents\\Jose Mauro_Python\\Relatório Vendas\\'
file = 'dados-vendas.xlsx'

# Acessar os dados do arquivo e colocar em um dataframe

dados = pd.read_excel(path + file, sheet_name='Vendas')

dados.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

### 7. Crie um dataframe chamado df_vendedores.
Para atribuir valores a ele você deve selecionar apenas a coluna Vendedores e remover as
duplicadas do mesmo. Confirme se realmente o comando removeu as duplicadas.
Após isso, crie uma lista com o seguinte nome listaVendedores, essa lista deve receber os dados do dataframe df_vendedores. 
Para isso, você deve converter o dataframe em lista, utilize o comando
dataframe.tolist().

In [38]:
# Selecione apenas a coluna vendedor e remova as duplicadas

df_vendedores = dados ['Vendedor'].drop_duplicates()

# Converter o Pandas Series em uma lista

lista_vendedores= df_vendedores.tolist()

lista_vendedores

['Ana Teixeira',
 'Josias Silva',
 'Mateus Gonçalves',
 'Artur Moreira',
 'Rodrigo Fagundes',
 'Fernando Zambrini',
 'André Pereira',
 'Maria Fernandes',
 'Aline Sutter']

### 8. Construa uma estrutura de repetição (FOR) 
Para que a variável vendedor receba os nomes que estão na lista listaVendedores e filtre
o dataframe dados, utilizando a coluna Vendedores para que gere um novo dataframe (df_final) para cada vendedor. 
Ainda na estrutura de repetição, você deve inserir uma linha de código para gerar um arquivo
em Excel para cada vendedor, utilize o comando dataframe.to_excel.

In [40]:
# Estrutura para gerar os arquivos de forma automatica.

#for vendedores in lista_vendedores:

df_final = dados[dados['Vendedor'] == 'Aline Sutter']

path_New = path 

# Salvar o arquivo na pasta

df_final.to_excel(path_New + 'Aline.xlsx',index = False)