In [2]:
import seaborn as sns
import numpy as np

# Retorna (Linspace) valores igualmente espaçados em um intervalo
x = np.linspace (0,2*np.pi,100) 
y = np.sin(x)

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# O dataset planets ou iris ja estão integrados no Seaborn

planetas = sns.load_dataset('planets')
planetas.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

#### Seaborn - Ajustando Dados

In [ ]:
import matplotlib.pyplot as plt

sns.set()
plt.plot (x,y)

In [9]:
# Gráfico de barras

sns.barplot(x'species',,y='petal_longth',data=iris)

SyntaxError: invalid syntax (3558573377.py, line 3)